/*fonts*/
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: local('Open Sans'),
    local('OpenSans'),
    url("../css/fonts/OpenSansRegular/OpenSansRegular.woff2") format("woff2"),
    url("../css/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff");
}
/*end fonts*/

/*beginning reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    overflow-y: scroll;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
a:active,
a:hover,
*:focus {
    outline: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
html, body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*end reset css*/

#wrapper {
    min-height: 100%;
    width: 100%;
    margin: 0 auto -60px auto;
    position: relative;
    top: 5px;
}
#wrapper:before {
    content: "";
    position: absolute;
    top: -5px;
    width: 100%;
    height: 5px;
    background-color: #3b7a9d;
}
#wrapper-return {
    height: 60px;
    position: relative;
}
.container {
    height: 100%;
    min-width: 320px;
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

/*beginning header*/
#header {
    width: 100%;
    position: relative;
}
.header-content {
    padding: 44px 0 45px 0;
    width: 100%;
    position: relative;
}
.header-logo {
    font-size: 36px;
    color: #333;
    line-height: 30px;
}
.logo-capital {
    font-size: 46px;
}
.header-title {
    display: inline-block;
    color: #999;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    margin-left: 22px;
}
.header-title:before {
    content: "";
    width: 1px;
    height: 25px;
    background-color: #999;
    position: absolute;
    top: 3px;
    left: -7px;
}
.header-search-form {
    font-size: 0;
    position: absolute;
    right: 0;
    top: 35%;
}
input[type="text"], 
button {
    padding: 0;
    border: none;
    font: inherit;
}
.header-search-form > input {
    border: 1px solid #999;
    text-indent: 10px;
    width: 248px;
    height: 34px;
    font-size: 12px;
}
.header-search-form > button {
    color: #fff;
    background-color: #3b7a9d;
    height: 36px;
    width: 68px;
    font-size: 12px;
}
.header-search-form > button:hover {
    background-color: #f22731;
}
.header-nav-menu {
    background-color: #3b7a9d;
}
.nav-content {
    font-size: 13px;
    padding: 24px 0;
    line-height: 12px;
}
.nav-content > ul > li > a {
    color: #fff;
    text-transform: uppercase;
}
.nav-content > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-content > ul > li {
    display: inline-block;
    padding-right: 30px;
}
.nav-content > ul > li.current > a {
    color: #f22731;
}
.nav-content > ul > li > a:hover {
    color: #f22731;
}

/*beginning toggle-menu button*/
#toggle-menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}
#toggle-menu > span:after,
#toggle-menu > span:before {
    content: "";
    position: absolute;
    left: 0;
}
#toggle-menu > span:after{
    top: 18px;
}
#toggle-menu > span:before{
    top: 9px;
}
#toggle-menu > span {
    position: relative;
    display: block;
}
#toggle-menu > span,
#toggle-menu > span:after,
#toggle-menu > span:before {
    width: 100%;
    height: 5px;
    background-color: #3b7a9d;
    transition: 0.3s;
    border-radius: 2px;
}
#toggle-menu.on > span {
    background-color: transparent;
}
#toggle-menu.on > span:before {
    -webkit-transform: rotate(45deg) translate(1px, 1px);;
    -ms-transform: rotate(45deg) translate(1px, 1px);;
    -o-transform: rotate(45deg) translate(1px, 1px);;
    transform: rotate(45deg) translate(1px, 1px);;
}
#toggle-menu.on > span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);;
    -ms-transform: rotate(-45deg) translate(5px, -6px);;
    -o-transform: rotate(-45deg) translate(5px, -6px);;
    transform: rotate(-45deg) translate(5px, -6px);;
}
/*end toggle-menu button*/

/*beginning @media header*/
@media screen and (max-width: 880px) {
    .header-nav-menu {
        display: none;
    }
    #toggle-menu {
        display: block;
        position: absolute;
        top: 50px;
        right: 20px;
    }
    .header-search-form {
        left: 50%;
    }
    .header-search-form > input {
        width: 175px;
    }
    #toggle-menu.on + .header-nav-menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 94px;
        opacity: 0.95;
        z-index: 2;
    }
    #toggle-menu.on + .header-nav-menu > .container {
        min-width: 120px;
        padding: 0;
    }
    #toggle-menu.on + .header-nav-menu .nav-content {
        width: 180px;
        padding: 0;
        text-align: right;
    }
    #toggle-menu.on + .header-nav-menu .nav-content > ul > li {
        display: block;
        line-height: 18px;
        padding: 0;
    }
    #toggle-menu.on + .header-nav-menu .nav-content > ul > li:hover {
        background-color: #f22731;
    }
    #toggle-menu.on + .header-nav-menu .nav-content > ul > li:hover > a {
        color: #fff;
    }
    #toggle-menu.on + .header-nav-menu .nav-content > ul > li > a {
        display: block;
        line-height: 18px;
        padding: 10px;
    }
}

@media screen and (max-width: 640px) {
    .header-search-form {
        display: block;
        left: 0;
        top: 75%;
    }
}

@media screen and (max-width: 480px) {
    .header-search-form > input {
        width: 145px;
    }
    .header-search-form > button {
        width: 60px;
    }
}

@media screen and (max-width: 360px) {
    .header-title {
        display: block;
        margin: 10px 0 10px 7px;
    }
}
/*end @media header*/
/*end header*/

/*beginning content*/
/*beginning slider*/
#slider {
    width: 100%;
    line-height: 0;
    margin-top: 40px;
}
#slider-content {
    overflow: hidden;
    position: relative;
}
.slide {
    display: none;
}
.slide-bg {
    min-height: 400px;
    background-position: 80% top !important;
}
.slide-text {
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    width: 300px;
    position: absolute;
    top: 0;
    padding: 139px 0 36px;
    left: -300px;
}
.slide-text > h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 26px;
}
.slide-text > p {
    padding: 0 20px 0 30px;
    margin-bottom: 23px;
}
.slide-text > a {
    display: block;
    text-align: right;
    padding-right: 22px;
    color: #fff;
}
.slide-text > a:hover {
    color: #f22731;
}
#slider-controls {
    position: absolute;
    top: 25px;
    padding-left: 48px;
    left: -300px;
    font-size: 0;
}

@media screen and (max-width: 360px) {
    .slide > .slide-text {
        width: 100%;
        left: -320px;
    }
    .slide > .slide-text > p {
        padding: 0 20px;
    }
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    width: auto;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.prev {
    padding-right: 15px;
}
.next {
    padding-left: 13px;
}
.dots {
    display: inline-block;
}
.dot:last-child {
    margin-right: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor:pointer;
    height: 20px;
    width: 20px;
    margin-right: 11px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}
.active, .dot:hover {
    background-color: #3b7a9d;
}
/*end slider*/

/*beginning articles*/
#articles {
    width: 100%;
    margin: 30px auto 26px;
    position: relative;
    font-size: 0;
}
.items-wrapper {
    border-bottom: 1px #d6d6d6 solid;
}
.article-item {
    max-width: 225px;
    margin: 10px 20px 39px 0;
    display: inline-block;
    font-size: 13px;
}
.article-item:last-child {
    margin-right: 0;
}
.article-item > h2 {
    font-size: 16px;
    color: #333;
    margin: 12px 0 11px 0;
}
.article-item > p {
    color: #979797;
    line-height: 18px;
    margin-bottom: 10px;
}
.article-item > a {
    color: #3b7a9d;
}
.article-item > a:hover {
    color: #f22731;
}
/*end articles*/

/*beginning info */
#info {
    width: 100%;
    position: relative;
    margin-bottom: 18px;
    font-size: 0;
}
#info h2 {
    font-size: 16px;
    color: #333;
    margin-bottom: 25px;
}
#info p {
    font-size: 13px;
    color: #979797;
    line-height: 18px;
}
#info a {
    font-size: 13px;
    color: #3a799d;
}
#news {
    max-width: 300px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.news-item > h3 {
    margin-bottom: 8px;
}
.news-item > p {
    margin-bottom: 4px;
}
.news-item {
    position: relative;
    margin-bottom: 30px;
}
.news-item:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
    position: absolute;
    bottom: -15px;
}
.news-item:last-child:before {
    display: none;
}
#tour {
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    margin-bottom: 21px;
}
#info #tour > h2 {
    margin-bottom: 25px;
}
#tour > iframe {
    margin-bottom: 13px;
}
#tour > p {
    margin-bottom: 12px;
}
#instructors {
    max-width: 300px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}
#info #instructors > h2 {
    margin-bottom: 25px;
}
.instructor {
    margin-bottom: 31px;
    position: relative;
}
.instructor:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
    position: absolute;
    bottom: -16px;
}
.instructor:last-child:before {
    display: none;
}
.instructor > .instructor-photo {
    display: inline-block;
    padding:4px;
    border: 1px #d8d8d8 solid;
}
.instructor > .instructor-info {
    display: inline-block;
    vertical-align: top;
    padding-left: 11px;
    padding-top: 1px;
}
.instructor > .instructor-info > p.name {
    font-weight: bold;
}
.instructor > .instructor-info > p {
    margin-bottom: 16px;
}
/*end info*/
/*end content*/

/*beginning @media content*/
@media screen and (max-width: 360px) {
    #instructors {
        width: 250px;
    }
    #tour > iframe {
        width: 250px;
        height: 196px;
        display: block;
        margin: 10px auto;
    }
}

@media screen and (max-width: 700px) {
    #news {
        max-width: none;
        margin-right: 0;
    }
    #news > h2 {
        text-align: center;
    }
    #tour > h2 {
        text-align: center;
    }
}

@media screen and (max-width: 725px) {
    #info #instructors {
        max-width: 300px;
        display: inline-block;
    }
}

@media screen and (max-width: 1000px) {
    #articles {
        text-align: center;
    }
    .article-item {
        text-align: left;
    }
    .instructor {
        display: inline-block;
        margin-right: 3%;
        text-align: left;
    }
    .instructor:before {
        display: none;
    }
    #instructors {
        display: block;
        max-width: none;
        width: 100%;
        text-align: center;
    }
    #info {
        text-align: center;
    }
    #info #news,
    #info #tour {
        text-align: left;
    }
    #tour {
        margin-bottom: 30px;
        margin-right: 0;
    }
}
/*end @media content*/

/*beginning footer*/
#footer {
    width: 100%;
    height: 60px;
    position: relative;
    top: 5px;
    background-color: #d6d6d6;
    color: #999;
}
.footer-content {
    padding: 24px 0;
    font-size: 0;
    width: 100%;
}
.footer-content p {
    font-size: 12px;
}
.footer-content > #copyright {
    display: inline-block;
    text-align: left;
    width: 70%;
}
.footer-content > #template {
    display: inline-block;
    width: 30%;
    text-align: right;
}
/*end footer*/
